<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <div class="navbar">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <div class="dropdown">
            <div class="dropbtn">Game Projects
                <i class="fa fa-caret-down"></i>
            </div>
            <div class="dropdown-content">
                <a href="#">Dogtown Barkery</a>
                <a href="#">Good Bad Woof</a>
            </div>
        </div>
    </div>
</html>
